{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<h1>Mes articles de blog</h1>
    <h2>BLOGGG</h2>
    <h3>BLOGGG</h3>
    <h4>BLOGGG</h4>


    <div>
        <main>

        </main>

        <aside>
            {% include './includes/sidebar.html.twig' %}
        </aside>
    </div>
{% endblock %}
